.formContainer > *, .selectContract {
  border: 0;
  padding: 1rem;
  background:white;
  line-height: 5rem;
  font-size: 2rem;
  border-radius: 0;
  outline: 0;
  border-right: 0.1rem solid rgba(0,0,0,0.2);
  -webkit-appearance: none;
}

.formContainer > *:last-child {
  border-right: 0;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  border: 2rem solid rgba(0,0,0,.3);
  border-radius: 0.5rem;
  margin: -1rem auto 0rem;
}

.formContainer:nth-of-type(1) {
  margin-top: 2rem;
}

.contract {
  min-width: 14rem;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path opacity='.87' fill='none' d='M24 24H0V0h24v24z'/><path d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 2rem;
  border-right: none
}

.deleteButton {
  background:#DB252A;
  color:white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.disabledButton {
  background:white;
  pointer-events: none;
}

.salaryContainer {
  flex: 1 0 10rem;
}

.dropdownTitle {
  font-size: 1.2rem;
  position: absolute;
  top: -1rem;
  left: 1rem
}

.dropdownContainer {
  padding: 0 2rem;
  position: relative;
}

@media (max-width: 560px) {
  .formContainer {
    flex-direction: column;
    border: 1.4rem solid rgba(0,0,0,.3);
  }

  .formContainer > * {
    height: 4rem;
    line-height: 2rem;
  }

  .deleteButton {
    flex-direction: row;
  }

  .salaryContainer {
    flex-basis: 4rem;
  }

  .dropdownTitle {
    top: 0;
  }


  .dropdownContainer {
    padding: 0.4rem 1rem 1rem 3rem;
  }
}
