@import '../../../styles/reset.scss';

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.styledInput {
  padding: 2rem 0.5rem 0.5rem;
  background:$white;
  font-size: 1.4rem;
  border-bottom: 1px solid $black;
  border-radius: 0rem;
  width: 13rem;
  outline: 0;
  -webkit-appearance: none;
}

.caret {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path opacity='.87' fill='none' d='M24 24H0V0h24v24z'/><path d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 1.5rem;
}

.calendar {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0V0z'/><path d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V10h16v11zm0'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 1.5rem;
}

.contract {
  width: 14rem;
}

.contract:required:invalid {
  color: $light-gray;
}

.contractOption[value=''][disabled] {
  display: none;
}

.contractOption {
  color: $black;
}

.deleteButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  color: $black;
  background: $white;
  margin-top: 1rem;
  cursor: pointer;
}

.separationLine {
  margin-top: 2rem;
  border: 0; 
  height: 0.05rem; 
  background: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.styledInput > input {
  font-size: 1.4rem;
  outline: 0;
}

.dropdownTitle {
  font-size: 1.2rem;
  position: absolute;
  color: $light-blue;
}
