@import '../../styles/reset.scss';

.defaultButton {
  border-radius: 0.6rem;
  color:white;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  min-width: 10rem;
  max-height: 6rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  width: 18rem;
}

.blueButton {
  background-color: $light-blue;
}

.greenButton {
  background-color: $green;
}

.redButton {
  background-image: linear-gradient(to right top, #ed433f, #df3a37, #d2302f, #c42627, #b71b1f);
}

.grayButton {
  background: linear-gradient(to right, #403b4a, #72726e);
}

.disabledButton {
  border-radius: 5rem;
  border-style: hidden;
  background-color: gray;
  color: gray;
  font-size: 1.6rem;
  min-width: 12rem;
  padding: 1rem;
}

.blueLink {
  background: transparent;
  color: $light-blue;
  border-bottom: 0.1rem solid $light-blue;
  cursor: pointer;
}
