.defaultButton {
  border-radius: 5rem;
  color:white;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 1rem;
  min-width: 10rem;
  max-height: 6rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  width: 18rem;
  box-shadow: 4px 4px 2px -2px #a5a5a5;
}

.blueButton {
  background-image: linear-gradient(to top, #1c3eb4, #154cbd, #1059c6, #1266ce, #1b73d5);
}

.redButton {
  background-image: linear-gradient(to right top, #ed433f, #df3a37, #d2302f, #c42627, #b71b1f);
}

.grayButton {
  background: linear-gradient(to right, #403b4a, #72726e);
}

.disabledButton {
  border-radius: 5rem;
  border-style: hidden;
  background-color: gray;
  color: gray;
  font-size: 1.6rem;
  min-width: 12rem;
  padding: 1rem;
}