.SummaryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 0 26rem;
}

.TotalsContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 53rem;
  width: 50%;
  height: 14rem;
  background: #fff;
  margin: 1rem auto;
  padding: 1rem;
}

.SubTotalContainer {
  display: flex;
  width: 100%;
}

.TotalBadNumber {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  
  input {
    font-size: 3rem;
    color: red;
    text-align: center;
    width: 22rem;
  }
}

.TotalNumber {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  
  input {
    font-size: 3rem;
    color: green;
    text-align: center;
    width: 22rem;
  }
}

.Title {
  align-self: center;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}

.Advice {
  flex-basis: 50%;
  font-size: 1.4rem;
}

.AdviceValues input {
  width: 8.5rem;
  font-weight: 700;
}