.Container {
  display: flex;
  flex-direction: column;
  flex: 0 1 60rem;
}

.SummaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26rem;
  background: #fff;
  color: #363636;
  padding: 1rem;
  border-radius: 2rem;
  margin: 1rem;
  max-height: 16rem;
}

.TotalContainer {
  font-size: 1.4rem;
  display: flex;
  width: 100%;

  &:last-of-type {
    margin-bottom: 1rem;
  }
}

.TotalNumber {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;

  input {
    font-size: 2.4rem;
    color: #343A40;
    text-align: center;
    width: 22rem;
  }
}

.Title {
  align-self: center;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 560px) {
  .SummaryContainer {
    max-height: 18rem;
  }
}