.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.summaryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.actionButtons {
  display: flex;
  width: 100%;
}

.layoffContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.question {
  font-size: 1.8rem
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
