@import '../../styles/reset.scss';

.formContainer {
  font-size: 1.6rem;
  margin: 1rem 2.5rem;
}

.mainTitle {
  text-align: center;
  font-size: 2.3rem;
  font-family: Comfortaa;
}

.subTitle {
  margin-top: 2rem;
  font-size: 2.3rem;
  font-family: Comfortaa;
}

.text {
  text-align: justify;
  margin-top: 2rem;
}

.modal {
  color: $light-blue;
  cursor: pointer;
}

.formGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.title {
  font-size: 1.2rem;
  position: absolute;
  color: $light-blue;
}

.styledInput {
  padding: 2rem 0.5rem 0.5rem;
  background:$white;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid $black;
  border-radius: 0rem;
  width: 13rem;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
}

.styledInput > input {
  outline: 0;
}

.caret {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path opacity='.87' fill='none' d='M24 24H0V0h24v24z'/><path d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 1.5rem;
}

.dependants {
  width: 14rem;
  padding-left: 1rem;
}

.dependants:required:invalid {
  color: $light-gray;
}

.dependantOption[value='0'][disabled] {
  display: none;
}

.dependantOption {
  color: $black;
}

.buttonContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.modalText {
  font-size: 1.5rem;
  padding: 1.1rem
}
