.title {
  margin: 0;
  width: 100%;
  padding-top: 4rem;
  line-height: 1.15;
  font-size: 4rem;
}

.title, .description {
  text-align: center;
}

.description{
  font-size: 2rem;
  text-align: justify;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 105rem;
  margin: 1rem auto;
}

.formTitle {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.hasToDeclareGroup {
  display: flex;
  justify-content: space-between;
}

.deductionsForm {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  padding: 1rem;
}

.messages {
  font-size: 1.4rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 105rem;
  margin: 4rem auto;
}

@media (max-width: 560px) {
  .description {
    padding: 0 1.6rem;
    max-width: 32rem;
  }

  .hasToDeclareGroup {
    flex-direction: column;
  }

  .deductionsForm {
    max-width: 100%;
  }
}