.title {
  margin: 0;
  width: 100%;
  padding-top: 8rem;
  line-height: 1.15;
  font-size: 4rem;
}
.title,
.description {
  text-align: center;
}
.description{
  font-size: 2rem;
}

.formTitle {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.primary {
  display: flex;
  flex-direction: column;
  background: rgb(185, 185, 236);
  width:70%;
  margin:0 auto;
  margin-top:1.2rem;
  padding: 3rem 1rem 1rem 6rem;
  height:100%;
  border-radius: 2%;
}

.primary h1 {
  padding:0.6rem 1rem;
  font-weight:bold;
  font-size:1.3rem;
  height:1.5rem;
  line-height: 1.2rem;
  background: #fff;
  border-bottom: 0.1em solid lightgray;
}

.primary .para {
  list-style-type: none;
  padding:1rem 0.6rem;
  height:1.5rem;
  font-size:1.3em;
  line-height: 1.5rem;
  border-bottom: 0.1em solid lightgray;
  background: #fff;
}

.primary .para:nth-child(odd) {
  border-bottom: 0.1em solid gray;
}

.list {
  list-style-type:none;
  height:inherit;
  line-height: 1.5rem;
  border-bottom: 0.1em solid lightgray;
  background: #fff;

}
.listTitle {
  padding:0.6rem 2rem;
  font-weight:bold;
  font-size:1.3rem;
  height:1.5rem;
  line-height: 1.2rem;
  text-align:left;
  background: #fff;
  border-bottom: 0.1rem solid lightgray;
}

.por {
width:40%;
margin:1rem 6rem;
border-radius:2rem;
background: rgb(199, 196, 196);
}

.por1 {
  width:70%;
  margin:1rem 6rem;
  border-radius:2rem;
  background: rgb(199, 196, 196);
}
.por li ,.por1 li {
  list-style-type: none;
  padding:1rem 0.6rem;
  width:220%;
  height:1.5rem;
  font-size:1.3em;
  line-height: 1.5rem;
  border-bottom: 0.1em solid gray;
}

.por1 li {
  width:124%;
}

.por li:last-child, .por1 li:last-child {
  border-bottom:0;
}

.por:hover {
  background: lightskyblue;
}

.por .list1 {
  border-radius:2rem;
  border-top-left-radius: 0;
  border-top-right-radius:0;
  background: lightblue;
}

.listte {
  margin:0 auto;
  height:1.5rem;
  line-height: 1.5rem;
  border:2px solid seagreen;
}