.description{
  font-size: 1.8rem;
  text-align: justify;
  max-width: 105rem;
  margin: 0.5rem auto 2rem;
  letter-spacing: -0.027rem;
}

@media (max-width: 560px) {
  .description {
    margin: 2rem auto;
    padding: 0 1.6rem;
    max-width: 32rem;
  }
}
