@import './reset.scss';

:root {
    font-size: 62.5%;
}

body {
    background: $white;
    color: $light-gray;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 2.5rem;
}

@media (max-width: 560px) {
    .hideMobile {
        display: none;
    }
}
