@import './reset.scss';

:root {
    font-size: 62.5%;
}

body {
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 560px) {
    .hideMobile {
        display: none;
    }
}