.SummaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 26rem;
  height: 26rem;
  background: #fff;
  margin: 1rem auto;
  padding: 1rem;
}

.TotalNumber input {
  font-size: 3rem;
  color: #343A40;
  text-align: center;
}

.Subtitle {
  font-size: 1.8rem;
  align-self: flex-start;
}

.Detail {
  font-size: 1.6rem;
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: space-between;
  input {
    color: #343A40;
    font-size: 1.6rem;
  }
}
